models/*.pt filter=lfs diff=lfs merge=lfs -text
results/seeding_segmentation/weights/*.pt filter=lfs diff=lfs merge=lfs -text
results/seedings_detection/weights/*.pt filter=lfs diff=lfs merge=lfs -text
